{% extends 'index.html' %}

{% load static %}

{% block mainbody %}

<section id="about_us">
    <div class="container-fluid p-5">

        <div class="section-header text-center pt-3">
            <h1>What is Prairie Code?</h1>
        </div>

        <div class="row jusityf-content-between">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <p class="lead fw-bold text-white p-3">Prairie Code is your premier choice for web development.
                    We are based out of Council Bluffs, IA. Varsity Web & Media is deeply rooted with our strong core of
                    values. Which includes: </p>

                <ul class="text-left text-white m-4 lead fw-bold">
                    <li>Enhancing our client's online presence through the design of their websites.</li>
                    <li>Ensuring that the client has an enriching user-experience, through the use of their website.
                    </li>
                    <li>Expecting the best out of ourselves and never settling for less.</li>
                </ul>
            </div>
            <div class="col-sm">
            </div>
        </div>

    </div>
</section>


<section id="captions">
    <div class="row justify-content-between p-5">
        <div class="col-sm text-center facet">
            <div class="container-fluid  p-3 facet-header">
                <h2 class="header">Web Development</h2>
            </div>
            <p class="lead p-5 text-white" style="font-weight: bold;">Utilizing the tools of the trade, we put these
                tools into place to help us perform the many meticulous duties, involved in creating a website.</p>
        </div>

        <div class="col-sm text-center facet">
            <div class="container-fluid p-3 facet-header">
                <h2 class="header">Web Design</h2>
            </div>
            <p class="lead p-5  text-white" style="font-weight: bold;">We utilize your brand and identity in order to,
                take these characteristics of your brand and your business in order to design your website. We don't
                want to create the same bland websites. We want your website to scream You!</p>

        </div>

        <div class="col-sm text-center facet">
            <div class="container-fluid  p-3 facet-header">
                <h2 class="header">SEO Optimization</h2>
            </div>
            <p class="lead p-5 text-white" style="font-weight: bold;">A website is most effective when they appear in
                the top search results for your particular field. So we aim to improve your search results, so that more
                people can discover your website.</p>
        </div>
    </div>
</section>

<section id="about_us">
    <div class="container-fluid p-5">

        <div class="section-header text-center pt-3">
            <h1>Why Choose Us?</h1>
        </div>

        <div class="row jusityf-content-between">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <p class="lead fw-bold text-white p-3">Varsity is your premier choice for web development, we don't cut
                    corners here. Through our meticulous practices and habits, we ensure that our products meet the
                    satisfactory needs of our client.</p>

            </div>
            <div class="col-sm">
            </div>
        </div>

    </div>
</section>

{% endblock %}
