{% extends 'index.html' %}
{% load static %}

{% block body_settings %}

<body style="background-color: #526D82;">



    {% endblock %}


    {% block mainbody %}

    <div class="columns is-centered p-5">
        <div class="column is-half has-text-centered">
            <img src="https://static.vecteezy.com/system/resources/previews/011/354/484/original/young-man-in-hat-holding-laptop-3d-character-illustration-png.png"
                width="75%" height="75%" style="margin-right: 10vw;">


        </div>
        <div class="column is-half">
            <div class="hero-body has-text-center">

                <div class="container has-text-center" style=" text-align: center;">

                    <article class="message is-info">
                        <div class="message-header">
                            <p>Hello There!</p>

                        </div>
                        <div class="message-body">
                            Please fill out the form below, so that we may begin to get the ball rolling and we can
                            begin to work on the website of your dreams.
                        </div>
                    </article>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <input class="input" type="text" name="first_name" placeholder="First Name">

                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control is-expanded">
                                        <input class="input" type="text" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="e-mail" placeholder="Email">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <textarea class="textarea is-medium" placeholder="What can we help with?"
                                    name="content"></textarea>

                            </div>
                        </div>

                        <button class="button is-primary p-5" type="submit"><strong>Submit</strong></button>

                        <div class="g-recaptcha" data-sitekey="6Ldnk54pAAAAAI_ISOAUlra25HWMfBtEkkMeYn0O"></div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    </section>

    {% block javascript %}

    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
            loader.style.display = "none";

        });
    </script>

    {% endblock %}

    {% endblock %}
