{% extends 'index.html' %}
{% load static %}



{% block mainbody %}

<div class="columns is-centered p-5">
    <div class="column is-half has-text-centered">
        <img src="https://static.vecteezy.com/system/resources/previews/011/354/484/original/young-man-in-hat-holding-laptop-3d-character-illustration-png.png"
            width="75%" height="75%" style="margin-right: 10vw;">


    </div>
    <div class="column is-half">
        <form method="post">
            <div class="field is-horizontal">

                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="First Name">

                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


{% endblock %}
