{% extends 'index.html' %}
{% load static %}



{% block mainbody %}


<div class="container has-text-centered">
    <img src="https://static.vecteezy.com/system/resources/previews/011/383/944/non_2x/young-girl-holding-a-trophy-3d-character-illustration-free-png.png"
        width="75%" height="75%">
    <article class="message is-success is-half">
        <div class="message-header">
            <p>Hooray!</p>

        </div>
        <div class="message-body">
            You have successfully filled out the "Contact Us" form, a representative will reach out to you shortly. You
            are one step closer to completing the website of your dreams.
        </div>
    </article>
</div>

{% endblock %}
