<!DOCTYPE html>
{% load static %}

<html lang="en">

{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="pKEmhkGIUvN9zvKPCbeiwEc9XsDbcOfJzEexyQMxhsc" />
    <title>Prairie Code LLC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet" type="text/css">
</head>
{% endblock %}

{% block body_settings %}

<body>
    {% endblock %}
    {% block mainbody %}

    <section id="intro">
        {% block navigation %}
        <nav class="navbar navbar-expand-lg" id="primary-navigation" style="background: transparent;">
            <div class="container-fluid">
                <div id="brand" class="p-2">
                    <a class="navbar-brand" href="{% url 'Home:home' %}">
                        <div id="brand-heading" class="p-1">
                            <h4>
                                Prairie Code LLC
                            </h4>
                        </div>
                        <div id="brand-text">

                            <h7>"Systems Built For You."</h7>


                        </div>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item m-4 p-1 text-center">
                            <a class="nav-link text-white" aria-current="page"
                                href="{% url 'home:about_us' %}"><strong>About
                                    Us</strong></a>
                        </li>
                        <li class="nav-item m-4 p-1">
                            <a class="nav-link text-white" href="{% url 'home:our_work' %}">Our
                                Work</a>
                        <li class="nav-item m-4 p-1">
                            <a class="nav-link text-white" href="{% url 'home:our_process' %}">Our
                                Process</a>
                        <li class="nav-item m-4 p-1">
                            <a class="nav-link text-white" href="{% url 'home:testimonials' %}">Testimonials</a>
                        </li>

                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        {% endblock %}

        <!-- section that serves for an introduction. -->
        <!-- Content here -->
        <div id="intro-container" class="container-fluid pt-5 mt-4">

            {% if found_spam == 1 %}
            <div class="alert alert-danger" role="alert">
                Links can't be included within contents of form!
            </div>

            {% endif %}
            <h1 id="main_header" class="display-2 pt-3">
                Create & Grow Your
                Website Today With
                Prairie Code!</h1>

            <a role="button" class="btn btn-light p-3" id="main_button" href="{% url 'Home:home' %}#contact_us"
                target="_top">Start
                Today</a>

        </div>
    </section>
    <section id="captions">
        <div class="row justify-content-between">
            <div class="col-sm text-center facet">
                <div class="container-fluid  p-3 facet-header">
                    <h2 class="header">Intuition</h2>
                </div>
                <img src="../static/brain.png" width="100" height="100" class="p-2">
                <p class="lead p-5 text-white" style="font-weight: bold;">Through each project that we have built we
                    have gained new
                    insight in how
                    we can
                    create
                    the web application of your dreams.</p>
            </div>

            <div class="col-sm text-center facet">
                <div class="container-fluid p-3 facet-header">
                    <h2 class="header">Inspiration</h2>
                </div>
                <img src="../static/fire.png" width="100" height="100" class="p-2">
                <p class="lead p-5  text-white" style="font-weight: bold;">Our inspiration is our client, we take our
                    time to understand yourself
                    as well as
                    your companies mission, goals and values. We take all of this and we turn it into our source of
                    inspiration in order to build the product of your dreams.</p>

            </div>

            <div class="col-sm text-center facet">
                <div class="container-fluid  p-3 facet-header">
                    <h2 class="header">Innovation</h2>
                </div>
                <img src="../static/lightbulb.png" width="100" height="100" class="p-2">
                <p class="lead p-5 text-white" style="font-weight: bold;">We are constantly utilizing the latest and
                    greatest technologies and
                    discovering new
                    ways as to how we can greater improve the performance of our applications. </p>
            </div>
        </div>
    </section>

    <section id="about_us">
        <div class="row justify-content-between">
            <div class="col-sm text-center p-5" style="align-items: center; justify-content: center;">
                <h1 class="heading" style="color: white; font-family: April; font-weight: bold;">Our Story</h1>
                <p class="lead p-2 text-white m-1" style="font-weight: bold;">Hello my name is Juan
                    Lizarraga-Cortez, I
                    am a recent graduate of the
                    University Of
                    Nebraska - Omaha.
                    After having recieved my bachelors in Computer Science, I recognized that web development was the
                    career
                    choice that I wanted to pursue. I have always loved solving problems and armed with my resolve and
                    entreprenurial spirit, I decided to venture out on my own. This is when Prairie Code LLC was
                    born.</p>


                <h2 style="font-family: Jazz LET, fantasy; font-weight: bold;" class="text-white pt-5">Juan L.</h2>
            </div>
            <div class="col-sm-5">
            </div>
        </div>

    </section>
    <section id="our_technologies">
        <div class="row jusitfy-content-between p-3">
            <div class="col-sm text-center">
                <h1 style="font-family: April; font-weight: bold; text-decoration: underline; text-underline-position: under; width: 100%;"
                    class="pt-3">
                    Powered by the latest and
                    greatest!</h1>
                <p class="lead m-5" style="font-weight: bold;">These are the technologies that we utilize in order to
                    power
                    our business. I am committed to keeping myself updated and continue to evolve by keeping up with the
                    latest and greatest.</p>
            </div>

            <div class="col-sm">

                <!-- row for Django, Vue.js and Python. -->
                <div class="row justify-content-between text-center">
                    <div class="col-sm p-3" style="height: 15vh;">
                        <img src="../static/django.jpeg" style="height: 100%; width: auto;">
                    </div>

                    <div class="col-sm p-3" style="height: 15vh;">
                        <img src="../static/vue.js.png" style="height: 100%; width: auto;">
                    </div>

                    <div class="col-sm p-3" style="height: 15vh">
                        <img src="../static/python.png" style="height: 100%; width: auto;">
                    </div>

                </div>

                <!-- row for HTML5, CSS3 and JavaScript  -->
                <div class="row justify-content-between text-center">
                    <div class="col-sm p-3" style="height: 15vh;">
                        <img src="../static/html5.png" style="height: 90%; width: auto; position: relative;">
                    </div>

                    <div class="col-sm p-3" style="height: 15vh;">
                        <img src="../static/css3.png" style="height: 100%; width: auto;">
                    </div>

                    <div class="col-sm p-3" style="height: 15vh">
                        <img src="../static/javascript.png" style="height: 100%; width: auto;">
                    </div>

                </div>

                <div class="row justify-content-between text-center ml-3">
                    <div class="col-sm">
                    </div>

                    <div class="col-sm p-3 m-3" style="height: 15vh;">
                        <img src="../static/mysql.png" style="height: 100%; width: auto;">
                    </div>

                    <div class="col-sm p-5" style="height: 15vh">
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="contact_us">
        <div class="row justify-content-between">
            <div class="col-sm text-center p-5" id="contact_form">

                <h1 style="font-family: April; font-weight: bold; color: white;">Ready To Get To Work?</h1>
                <p class="lead text-white">Simply fill out the form below, and we will be in touch soon.</p>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-sm" id="contact_form">
            </div>

            <div class="col-sm p-5" id="contact_form">
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger form-control from-control-lg">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                    <div class="form-group col-sm p-2">
                        <input type="text" name="name" id="id_name" class="form-control form-control-lg"
                            placeholder="Name">
                    </div>

                    <div class="form-group col-sm p-2">
                        <input type="email" name="email" id="id_email" class="form-control form-control-lg"
                            placeholder="Email">
                    </div>


                    <div class="form-group col-sm p-2">
                        <textarea id="id_details" name="details" class="form-control form-control-lg"
                            placeholder="How Can We Help?" cols="4" rows="5"></textarea>
                    </div>

                    <div class="form-group col-sm">
                        <button type="submit" class="btn btn-light p-3" id="form_submit">Submit</button>
                    </div>


                </form>

            </div>

            <div class="col-sm" id="contact_form">
            </div>

        </div>

    </section>

    {% endblock %}

    {% block footer %}

    <footer class="text-lg-start">

        <!-- copyright section -->
        <section class="d-flex justify-content-center p-3 m-0" id="footer_trademark">
            <div class="row">
                <p>@Prairie Code LLC</p>
            </div>
        </section>
    </footer>
    {% endblock %}


    <script src="{% static 'js/main.js' %}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>




</html>
