<!DOCTYPE html>
{% load static %}

<html lang="en">

{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="pKEmhkGIUvN9zvKPCbeiwEc9XsDbcOfJzEexyQMxhsc" />
    <title>Prairie Code LLC</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet" type="text/css">


</head>
{% endblock %}

{% block body_settings %}

<body>



    {% endblock %}

    {% block preloader %}
    <div id="preloader">
    </div>

    {% endblock %}

    {% block navigation %}

    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #27374D;">
        <div class="navbar-brand">
            <!-- svg for prairiee leaf code -->

            <a class="navbar-item has-text-white is-size-3" href="{% url 'Home:home' %}" style="font-family: hyperion;">
                <strong>Prairie Code</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                    class="bi bi-three-dots-vertical m-3" viewBox="0 0 16 16">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" style="background-color: #27374D;">
            <div class="navbar-start">
                <a class="navbar-item has-text-white" href="{% url 'Home:our_process' %}">
                    Our Process
                </a>

                <a class="navbar-item has-text-white" href="{% url 'Home:our_work' %}">
                    Our Work
                </a>
                <!--
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white">
                        More
                    </a>

                    <div class="navbar-dropdown" style="background-color: #27374D;">
                        <a class="navbar-item has-text-white">
                            About
                        </a>
                        <a class="navbar-item has-text-white">
                            Testimonials
                        </a>
                        <a class="navbar-item has-text-white">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item has-text-white">
                            Report an issue
                        </a>
                    </div>
                </div>
                -->
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="{% url 'Home:contact_us' %}">
                            Contact Us
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </nav>
    {% endblock %}
    {% block mainbody %}




    <section id="intro">
        {% if found_spam == 1 %}
        <div class="alert alert-danger" role="alert">
            Links can't be included within contents of form!
        </div>

        {% endif %}
        <div class="container has-text-center" style=" text-align: center;">
            <h1 class="title is-size-1 has-text-white" style="font-family: hyperion;">
                <strong>Create & Grow Your Website Today With Prairie Code!</strong>
            </h1>

            <!--<p class=" subtitle">
                    <a class="button is-light p-5 has-text-weight-bold">Start Today</a>

                    </p>-->
        </div>
    </section>

    <section id="our_techStack">

        <section class="hero is-large pb-5" style="background-color: #526D82;">


            <div class="hero-body pt-5 pl-0 pr-0 pb-5" style="text-align: center;">
                <div class="container">
                    <p class="title has-text-white" id="techStackTitle">
                        Overview
                    </p>
                    <p class="subtitle has-text-white p-5" id="techStackDetails" style="text-align: left;">
                        Hello there my name is Juan Lizarraga-Cortez. I'm a seasoned web developer. So what is it
                        exactly that a web developer does, and what are the different aspects that go into building a
                        sophisticated website? Below I have broken down the process, into 4 main categories, you may
                        click on each of the tasks below to learn a little bit more about each subject.
                    </p>

                    <div id="overviewSection" class="m-0 p-0">
                        <img src="../static/youngJuan.png" height="750" width="550">
                    </div>

                    <div id="frontEndTechnologies" style="display: none;">
                        <img src="https://www.freepnglogos.com/uploads/javascript/logo-html-5-css-javascript-source-code-for-the-taking-23.png"
                            height="650" width="550">
                    </div>

                    <div id="backEndTechnologies" style="display: none;">
                        <img src="../static/python.png" height="250" width="175">
                        <img src="../static/vue.js.png" height="250" width="175">
                        <img src="../static/django-logo.png" height="150" width="125">
                    </div>

                    <div id="hostingTechnologies" style="display: none;">
                        <img src="../static/aws.png" height="750" width="550">
                    </div>

                    <div id="databaseTechnologies" style="display: none;">
                        <img src="../static/mysql.png" height="350" width="250" class="p-0 m-0">
                    </div>
                </div>
            </div>

            <div class="hero-foot">
                <div class="hero-foot">
                    <nav class="tabs is-boxed is-fullwidth">
                        <div class="container" style="overflow-x: auto; overflow-y: hidden;">
                            <ul>
                                <li class="is-active" id="overview">
                                    <a class="" onclick="changeContent('overview')" id="overviewButton"
                                        href="#our_techStack">Overview</a>
                                </li>
                                <li id="front-end">
                                    <a class="has-text-white" onclick="changeContent('front-end')" id="frontEndButton"
                                        href="#our_techStack">Graphical Design</a>
                                </li>
                                <li id="back-end">
                                    <a class="has-text-white" onclick="changeContent('back-end')" id="backEndButton"
                                        href="#our_techStack">Functionality</a>
                                </li>
                                <li id="hosting">
                                    <a class="has-text-white" onclick="changeContent('hosting')" id="hostingButton"
                                        href="#our_techStack">Web
                                        Hosting</a>
                                </li>
                                <li id="database">
                                    <a class="has-text-white" onclick="changeContent('database')" id="databaseButton"
                                        href="#our_techStack">Database</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </section>

    <section id="captions" class="pt-5">
        <div class="columns mb-5 mr-5 ml-5 p-3">
            <div class="card column is-half is-offset-one-quarter" style="background-color: #27374D;;">
                <div class="card-content has-text-centered">
                    <p class="title has-text-white">
                        Intuition
                    </p>
                    <p class="subtitle has-text-white">
                        Through each project that we have built we have gained new insight in how we can create
                        the web application of your dreams.
                    </p>
                    <img src="../static/brain.png" width="100" height="100" class="p-2">

                </div>

            </div>
        </div>

        <div class="columns  m-5 p-3">
            <div class="card column is-half is-offset-one-quarter" style="background-color: #27374D;">
                <div class="card-content has-text-centered">
                    <p class="title has-text-white">
                        Innovation
                    </p>
                    <p class="subtitle has-text-white">
                        We are constantly utilizing the latest and
                        greatest technologies and
                        discovering new
                        ways as to how we can greater improve the performance of our applications.
                    </p>
                    <img src="../static/lightbulb.png" width="100" height="100" class="p-2">

                </div>

            </div>
        </div>


        <div class="columns mt-5 ml-5 mr-5 p-3 pb-5">
            <div class="card column is-half is-offset-one-quarter" style="background-color: #27374D;">
                <div class="card-content has-text-centered">
                    <p class="title has-text-white">
                        Inspiration
                    </p>
                    <p class="subtitle has-text-white">
                        Our inspiration is our client, we take our
                        time to understand yourself
                        as well as
                        your companies mission, goals and values. We take all of this and we turn it into our source
                        of
                        inspiration in order to build the product of your dreams
                    </p>

                    <img src="../static/fire.png" width="100" height="100" class="p-2">

                </div>

            </div>
        </div>
    </section>

    {% endblock %}
    {% block footer %}

    <footer class="footer" style="background-color: #27374D;">
        <div class="content has-text-centered">
            <p class="title is-size-4 has-text-white">
                <strong>Prairie Code LLC </strong>

            </p>
        </div>
    </footer>
    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function () {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");


            });
        });

    </script>
    {% block javascript %}


    <script type="text/javascript">
        var loader = document.getElementById("preloader");
        setTimeout(function () {
            loader.style.display = "none";
        }, 1000);

    </script>



    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

    {% endblock %}
</body>

</html>
