{% extends 'index.html' %}
{% load static %}



{% block mainbody %}

<div class="container has-text-centered">
    <img src="https://t4.ftcdn.net/jpg/02/84/69/23/360_F_284692342_FkKunloWDjhyfVsmUxxnGJQjR3fiOZ4U.jpg">

    <h1 class="is-size-4"><strong>Interested in how it is that we get things done? Want to learn more about our process?
            You can read all about our operations and methodologies below.</strong></h1>
</div>

<div class="container has-text-centered">
    <div class="columns">
        <div class="column">
            <a href="">
                <div class="box">
                    <img src="../static/conversation.png">
                    <h1 class="is-size-3 is-underlined has-text-weight-semibold	pt-5">Initial Meeting</h1>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="">
                <div class="box">
                    <img src="../static/work.png">
                    <h1 class="is-size-3 is-underlined has-text-weight-semibold">Design Process</h1>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="">
                <div class="box">
                    <img src="../static/programming.png">
                    <h1 class="is-size-3 is-underlined has-text-weight-semibold pt-5">Development</h1>
                </div>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="box">
                I'm in a box.
            </div>
        </div>
        <div class="column">
            <div class="box">
                I'm in a box.
            </div>
        </div>
        <div class="column">
            <div class="box">
                I'm in a box.
            </div>
        </div>
    </div>
</div>


{% endblock %}
