{% extends 'index.html' %}
{% load static %}

{% block mainbody %}

<section id="initial_meeting">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading">Initial Meeting.</h1>

            <p>Our initial meeting allows us to get to know you and your business. Its operations, standardards and
                procedures. After our initial meeting, we leave with the information to build your online presence.</p>
        </div>

        <div class="col-sm">
        </div>


    </div>
</section>

<section id="requirements_gathering">

    <div class="row justify-content-center m-5">
        <div class="col-sm">
        </div>

        <div class="col-sm p-3">
            <h1 class="heading">Requirements Gathering.</h1>
            <p>After we have conducted the initial meeting, and have gotten to know both you and your business, we move
                onto
                the technical side of the process. This is where we begin to, examine all of the functionalaties and
                services that you would like to have on your website, both from an end-user browsing your website and
                also
                from your perspective as the admin. This begins to give us an idea of how we can transform/build out the
                basic layout of your website.</p>

        </div>
    </div>

</section>

<section id="database_development">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading">Database Development.</h1>
            <p>No website that serves a dynamic purpose is any good without an accompying database. We develop the
                database to match your business needs, requirements and policies. This then allows us to build the
                accompying features.</p>
        </div>

        <div class="col-sm">
        </div>

    </div>

</section>

<section id="design">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
        </div>

        <div class="col-sm p-3">
            <h1 class="heading">Concept Design.</h1>
            <p>Before we can begin to put boots on the ground or in our case code to text editor, we need to architect
                the layout of your website and the many different components that you will interact with. Using our
                gathered intel, we begin to design graphics, select images, typography, layouts that we believe is an
                extension of your brand. We include you in this process, as we value your input and want to make you as
                inclusive as possible in the process.</p>
        </div>

    </div>

</section>

<section id="development">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading">Development.</h1>
            <p>Once we have meet the above criteria to your satisfaction, and have checked all of the boxes do we really
                begin to hammer out the deployment process. This is truly when the rubber needs to meet the road. During
                the development lifecycle we set milestones that include various tasks, with deadlines that we aim for.
                So that your product is delivered to you in a timely manner.</p>
        </div>

        <div class="col-sm">
        </div>
    </div>

</section>

<section id="testing">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
        </div>

        <div class="col-sm p-3">
            <h1 class="heading">Testing.</h1>
            <p>Testing is done on our end, where we ensure that there are no hinderences on your newly created system.
                We ask during this period for you to complete a usability report where you test drive the application
                and let us know what needs work, before the system can be deployed and sail out to the internet.</p>
        </div>
</section>

<section id="deployment">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading">Deployment.</h1>
            <p>Using the tools of the trade, we deploy your product out onto the internet. You may choose to have us
                either deploy your product out onto the cloud or we can install your own personal server.
        </div>

        <div class="col-sm">
        </div>
</section>

<section id="continuous_improvement">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
        </div>

        <div class="col-sm p-3">
            <h1 class="heading">Continuous Improvement.</h1>
            <p>As part of our pricing and plan, we stay on for 6 - 12 months depending on your preferences. During this
                time period we look for small areas of improvement that we can do to your website. Monitor traffic for
                server optimization and install any necessary security patches.</p>
        </div>


    </div>
</section>

{% endblock %}
