{% extends 'index.html' %}
{% load static %}


{% block mainbody %}

<section id="process_icons" class="pt-5 mt-5">

    <div class="parent text-center w-100 mt-5">

        <div class="process_icon">
            <p>Planning</p>
        </div>


        <div class="process_icon">
            <p>Design</p>
        </div>

        <div class="process_icon">
            <p>Development</p>
        </div>

        <div class="process_icon">
            <p>Continuous Improvement</p>
        </div>
    </div>
</section>


<section id="initial_meeting" class="bg-light" style="opacity: 0.8">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading text-center">Planning.</h1>

            <p>Our initial meeting allows us to get to know you and your business. Its operations, standardards and
                procedures. After our initial meeting, we leave with the information to build your online presence.
            </p>
        </div>

        <div class="col-sm">
        </div>


    </div>
</section>


<section id="design" class="bg-dark" style="opacity: 0.8;">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
        </div>

        <div class="col-sm p-3">
            <h1 class="heading text-center">Design.</h1>
            <p class="text-white">Before we can begin to put boots on the ground or in our case code to text editor, we
                need to
                architect
                the layout of your website and the many different components that you will interact with. Using our
                gathered intel, we begin to design graphics, select images, typography, layouts that we believe is
                an
                extension of your brand. We include you in this process, as we value your input and want to make you
                as
                inclusive as possible in the process.</p>
        </div>

    </div>

</section>

<section id="development" class="bg-light" style="opacity: 0.8;">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading text-center">Development.</h1>
            <p>Once we have meet the above criteria to your satisfaction, and have checked all of the boxes do we
                really
                begin to hammer out the deployment process. This is truly when the rubber needs to meet the road.
                During
                the development lifecycle we set milestones that include various tasks, with deadlines that we aim
                for.
                So that your product is delivered to you in a timely manner.</p>
        </div>

        <div class="col-sm">
        </div>
    </div>

</section>


<section id="continuous_improvement" class="bg-dark" style="opacity: 0.8;">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
        </div>

        <div class="col-sm p-3">
            <h1 class="heading text-center">Continuous Improvement.</h1>
            <p class="text-white">As part of our pricing and plan, we stay on for 6 - 12 months depending on your
                preferences. During
                this
                time period we look for small areas of improvement that we can do to your website. Monitor traffic
                for
                server optimization and install any necessary security patches.</p>
        </div>


    </div>
</section>

{% endblock %}
