#intro {
    padding-top: 10%;
    background-image: url("../background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    height: 65vh;

}
