
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;

 }

 body {
     width: 100%;
     height: 100%;
     margin: 0px;
     overflow-x: hidden;
     display: flex;
     flex-direction: column;
 }

 footer {
     border-top: 1px solid black;
     margin-top: auto;
 }

#intro {
    padding-top: 10%;
    flex-shrink: 0;
    height: 85vh;
    background-image: url("../background.jpg");
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: #877760;
}

#navbar_main {
    background-color: #DFCAAD;
}

#intro-container{
    text-align: center;
    width: 100%;
    align-items: center;
}

#main_header {
    font-family: April;
    font-weight: bold;
    color: white;
}

#main_button {
    width: 350px;
    height: 75px;
    font-weight: bold;
    font-size: 25px;
    font-family: April;
}

.facet {
    background-color: #ACB0B5;
    border-right: 3px solid white;
    border-bottom: 5px solid white;

}

.facet-header {
    background-color: #ACB0B5;
    width: 100%;
}

.header {
    color: white;
    font-weight: bold;
    font-family: April;
}

#about_us {
    border-top: 3px solid white;
    background-color: #B4A4A4;
}

#about_us h1 {
    font-family: 'Abril';
    font-weight: bold;
    color: white;
}

#contact_us {
    padding-bottom: 2%;
}
#contact_form {
    background-color: #445C64;



}

#form_submit {
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
}

#social_links {
    background-color: #ACB0B5;
}

#main_footer_content {
    background-color: #B4A4A4;
}



.image_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
    grid-gap: 15px;
}

.gallery img {
    border-radius: 5px;
    width: 95%;
    height: 85%;
}

.heading {
    color: #877760;
    font-family: 'April';
    font-weight: bold;
}

.nav-link {
    text-align: center;
    font-weight: bold;
    padding: 15%;
}

a:hover{
    border-radius: 5px;
    background-color: white;
}


.process_icon {
    display: inline-block;
}

p {
    font-weight: bold;
    font-family: 'April';
    font-size: 17px;
}

a {
    font-family: 'April';

}
